body {
  position: relative;
  z-index: 0;
  background: rgb(209, 211, 212);
  font-size: 12px;
  font-family: Arial;
  margin: 0px;
}
form {
  margin: 0px;
}
a {
  color: blue;
  background-color: transparent;
}
hr {
  color: rgb(195, 210, 214);
  width: 340;
  height: 1px;
}
select.enableSel,
.QoSSel {
  width: 110;
}
select.BCSelect {
  width: 90;
}
select.portSel {
  width: 70;
}
tr {
  font-size: 12px;
  font-family: Arial;
  text-align: left;
}
td {
  font-size: 12px;
  font-family: Arial;
}
input.flatMc {
  text-align: right;
  background: white;
  font-size: 12px;
  font-family: Arial;
  border: solid;
  border-width: 1;
  border-color: gray;
}
input.flat {
  text-align: right;
  font-size: 12px;
  font-family: Arial;
  border: solid;
  border-width: 1;
  border-color: gray;
}
input.flatL {
  text-align: left;
  font-size: 12px;
  font-family: Arial;
  border: solid;
  border-width: 1;
  border-color: gray;
}
input.flatWS {
  background: white;
  font-size: 12px;
  font-family: Arial;
  text-align: left;
  width: 120;
  border: none;
}
input.flatGX {
  background: rgb(179, 179, 179);
  font-size: 12px;
  font-family: Arial;
  text-align: left;
  width: 120;
  border: none;
}
input.flatGW {
  background: rgb(204, 204, 204);
  font-size: 12px;
  font-family: Arial;
  text-align: left;
  width: 120;
  border: none;
}
td.bh {
  background: rgb(241, 244, 245);
  text-align: center;
  border: outset;
  border-width: 2;
  border-color: gray;
}
td.bw {
  background: white;
  text-align: center;
  border: solid;
  border-width: 1;
  border-color: gray;
}
tr.gh {
  background: #696969;
  height: 22;
  color: white;
  font-weight: bold;
}
tr.gw {
  background: rgb(204, 204, 204);
  height: 18;
}
tr.gx {
  background: rgb(179, 179, 179);
  height: 18;
}
td.gd {
  border: solid;
  border-width: 1;
  border-color: rgb(229, 231, 232);
}
fieldset {
  position: absolute;
  padding: 0 0 0 4px;
  margin: 0;
  border-radius: 6px;
  border: 1px solid#B8C8CB;
}
fieldset fieldset legend {
  font-weight: bold;
}
legend {
  color: #000;
  font-weight: bold;
  padding: 4px;
  font-family: Arial, Helvetica, sans-serif;
}
.btnText {
  font-size: 11;
  font-family: Verdana;
  height: 20;
  width: 90;
}
.btnTextLong {
  font-size: 11;
  font-family: Verdana;
  height: 20;
  width: 140;
}
.btnInGray {
  font-size: 11;
  font-family: Verdana;
  height: 19;
  width: 70;
}
.btnInGrayS {
  font-size: 11;
  font-family: Verdana;
  height: 19;
  width: 80;
}
.tabRelative {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(228, 234, 235);
  border: none;
  border-collapse: collapse;
}
.tabContent {
  position: absolute;
  top: 66;
  left: 60;
  width: 368;
  border: none;
}
.tabLogout {
  position: absolute;
  visibility: hidden;
  width: 230;
  z-index: 2;
  background: white;
  border: solid;
  border-width: 1;
  border-color: rgb(106, 107, 111);
  cursor: pointer;
}
.tabTitle {
  position: absolute;
  top: 2;
  z-index: -1;
  background: rgb(228, 234, 235);
  border: solid;
  border-width: 1;
  border-color: rgb(106, 107, 111);
}
.imgBigTitle {
  position: absolute;
  top: -1;
  left: -1;
  width: 300;
  height: 30;
  z-index: 0;
  border: none;
}
.imgSecTitle {
  position: absolute;
  top: -1;
  left: -1;
  width: 300;
  height: 26;
  z-index: 0;
  border: none;
}
.tdBigTitle {
  position: absolute;
  z-index: 1;
  font-size: 18px;
  height: 30;
  color: white;
  font-weight: bold;
}
.tdSecTitle {
  position: absolute;
  z-index: 1;
  font-size: 14px;
  height: 30;
  color: white;
}
.themenubar {
  position: absolute;
  top: 0;
  visibility: hidden;
  z-index: 3;
  background: rgb(255, 255, 255);
  border: solid;
  border-width: 1;
  border-color: rgb(19, 99, 147);
  cursor: pointer;
}
